.auth-container {
  max-width: 450px;
  margin: 60px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

.auth-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.auth-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.auth-button {
  padding: 14px;
  background: black;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.auth-button:hover {
  background: #333 ;
}

.auth-link {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.auth-link a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
