.footer {
  background: #111;
  color: #ddd;
  padding: 40px 20px;
  margin-top: 40px;
}

.footer-section {
  margin-bottom: 30px;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: white;
}

.footer-slogan {
  font-size: 14px;
  margin-bottom: 10px;
  color: #bbb;
}

.footer-desc {
  font-size: 13px;
  color: #aaa;
  max-width: 300px;
}

.footer-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}

.footer-text {
  display: block;
  color: #aaa;
  margin: 5px 0;
  font-size: 14px;
}

.footer-link {
  display: block;
  margin: 6px 0;
  color: #ddd;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.footer-link:hover {
  color: white;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  color: #666;
  font-size: 13px;
  border-top: 1px solid #222;
  padding-top: 15px;
}



@media (min-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 50px 60px;
  }

  .footer-bottom {
    grid-column: span 3;
  }
}
