.home-backgroundImage {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-image :url('./images/Mainbackground-image.png');
  background-position: center;
  position: relative;

}

.containerOverImage {
  position: absolute;
  top: 30%;
  left: 10%;
  max-width: 40%;

  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.imageCard {
  flex: 1 1 calc(50% - 20px);
  width : 50vh;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  position: relative;
}



.imageCardOverlay {
  position: absolute;
  top: 15%;
  left: 10%;
  color: black;
  padding: 1rem;
  border-radius: 10px;
}


.container .imageCard:nth-child(1) {
  flex: 1 1 calc(70% - 20px);
  width: 70vh;
}
.containerOverImage button,
.imageCardOverlay button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #ff7f50;
  color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}



.containerOverImage button:hover,
.imageCardOverlay button:hover {
  background-color: #ff6347;
  transform: scale(1.05);
}


@media (max-width: 900px) {

    
  .imageCard {
    width: 100%;
    height: 40vh;
  }
    .container .imageCard:nth-child(4) {
    width: 100%;
    flex: 1 1 100%;
  }

  .containerOverImage {
    position: relative;
    top: auto;
    left: auto;
    max-width: 90%;
    margin: 1rem auto;
  }

  .imageCardOverlay {
    top: 5%;
    left: auto;
    width: 90%;
    margin: 0 auto;
  }
}