.panier-container {
  display: flex;
  gap: 40px;
  padding: 20px;
  width: 100%;
}

.panier-produits {
  flex: 2;
}

.panier-item {
  display: flex;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.panier-item img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
}

.panier-info h3 {
  margin: 0;
}

.panier-price {
  font-weight: bold;
  margin-top: 5px;
}

.panier-total {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}

.panier-ligne {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.panier-total-final {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 15px 0;
  font-size: 18px;
}

.panier-code {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.panier-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.panier-btn:hover {
  opacity: 0.8;
}
