.about-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.about-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.about-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  font-size: 18px;
}

.slogan {
  font-style: italic;
  color: #111;
  font-weight: 600;
}


.about-image {
  width: 100%;
  height: 250px;
  background-image : url("images/quisommesnous.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  border-radius: 12px;
}

.about-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}


.about-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
  flex: 1;
  min-width: 280px;
}

.about-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-card p {
  margin: 6px 0;
  line-height: 1.5;
}

.about-card ul li {
  margin-bottom: 8px;
  font-size: 15px;
}
