html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
  transform-origin: top left;
  transition: transform 0.2s ease;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 5vh auto;
  width: 90%;
  max-width: 1500px;

}


.containerItems{

  height : 30vh;
  width : 2vh;
}



@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }

}
